.carousel-item {
    height: 400px;
    background: no-repeat;
}

.carousel-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgb(1, 7, 19);
    opacity: 0.7;
}